<<<<<<< HEAD
body{
                        margin: 0;
                        padding: 0;

                }
=======
body {
  padding: 0;
  margin: 0;
}
>>>>>>> 8650ebb031a4fbdf1d07d10f6d89868cd37fee20
