footer {
<<<<<<< HEAD
	color: white;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;

=======
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  border-top: 1px solid #cccccc;
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: 0;
>>>>>>> 8650ebb031a4fbdf1d07d10f6d89868cd37fee20
}
