<<<<<<< HEAD
header{
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-item: center;
}

header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
=======
header {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
header .logo {
  text-align: left;
  line-height: 70px;
  margin-left: 20px;
>>>>>>> 8650ebb031a4fbdf1d07d10f6d89868cd37fee20
}
