section.filters {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-width: 0;
  border-radius: 4px;
  position: absolute;
  margin-top: 11px;
  margin-bottom: 11px;
  right: 30px;
}

button:hover {
  opacity: 0.9;
}
